@media screen and (max-width: 800px) {
  .root {
    width: 100vw;
  }
}

@media screen and (min-width: 800px) {
  .root {
    width: 800px;
  }
}

.root {
  margin: 0 auto;
  padding: 20px;
}

.title {
  margin-bottom: 24px;
  text-align: center;
}

.input {
  width: 100%;
}

.actions {
  margin: 16px 0;
}

.btn + .btn {
  margin-left: 8px;
}
